*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
body,html{
    width: 100%;
    height: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body{
    background-color: #1d1d1d;
}
main{
    width: 100%;
    @include flex-column(0rem);
    section{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 10px;
            } 
        }
        .bottom{
            background-color: #292929;
            border-radius: 10px;
            padding: 1.5rem;
            @include flex-column(1.5rem);
            .text{
              @include flex-column(0.7rem);
                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                }
                p{
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.8;
                    line-height:1.5;       }
                button{
                    width: fit-content;
                }
            }
        }
    }
}